<div [ngClass]="{'backDay': !isNight(), 'backNight': isNight()}">

<div class="container">    
<br>
<br>
   
     <div [ngClass]="{'search-bar': !isNight(), 'search-barNight': isNight()}">
        <input type="search" [(ngModel)]="cityName" name="search" required autocomplete="off"> 
        <button class="search-btn" (click)="getWeatherForCity(cityName)"></button>
    </div>
<div [ngClass]="{'day': !isNight(), 'night': isNight()}">
   {{weather.time}}
</div>
<div [ngClass]="{'box2': !isNight(), 'box2night': isNight()}"> 
<div class="city">{{weather.city}}</div>
<div class="temp">{{weather.temp}} &deg;C</div>
<div class="description">{{weather.description}}</div>

<img [src]="'assets/images/' + weather.weatherImg + '.svg'" class="mainImg">

</div>

<div class="today">
    <div *ngFor="let today of weather.today" [ngClass]="{'todayBox': !isNight(), 'todayBoxNight': isNight()}">
        <div class="todayTemp">{{ today.temp }} &deg;C</div>
        <div class="todayTime">{{ today.time }} </div>
        <img [src]="'assets/images/' + today.weatherImg + '.svg'" class="todayImg">
  </div>
</div>

<div class="today">
    <div *ngFor="let nextDay of weather.nextDays" [ngClass]="{'todayBox': !isNight(), 'todayBoxNight': isNight()}">
        <div class="todayTemp">{{ nextDay.temp }} &deg;C</div>
        <div class="todayTime">{{ nextDay.time }}</div>
        <img [src]="'assets/images/' + nextDay.weatherImg + '.svg'" class="todayImg"> 
    </div>
</div>

<div class="box3">

    <div [ngClass]="{'infoBox': !isNight(), 'infoBoxNight': isNight()}">
        {{weather.maxDayTemp}} &deg;C
        <img [src]="'assets/icons/up.png'"> 
    </div>
   
    <div [ngClass]="{'infoBox': !isNight(), 'infoBoxNight': isNight()}">{{weather.minDayTemp}} &deg;C
        <img [src]="'assets/icons/down.png'"> 
    </div>
    <div [ngClass]="{'infoBox': !isNight(), 'infoBoxNight': isNight()}">{{weather.pressure}}
        <img [src]="'assets/icons/pressure.png'"> 
    </div>
    <div [ngClass]="{'infoBox': !isNight(), 'infoBoxNight': isNight()}">{{weather.sunrise}}
        <img [src]="'assets/icons/sunrise.png'"> 
    </div>
    <div [ngClass]="{'infoBox': !isNight(), 'infoBoxNight': isNight()}">{{weather.sunset}}
        <img [src]="'assets/icons/sunset.png'"> 
    </div>
    
    <div [ngClass]="{'infoBox': !isNight(), 'infoBoxNight': isNight()}">{{weather.wind}}km/h
        <img [src]="'assets/icons/wind.png'"> 
    </div>
</div>

</div>

<div *ngIf="isNight()">
<div class="sky">
    <div class="stars"></div>
    <div class="stars2"></div>
    <div class="stars3"></div>
</div>
</div>
</div>  