<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <form th:action="@{/weather}" method="get">
            <input type="text" class="input" name="city"  required onmouseout="this.value = ''; this.blur();">
        </form>
        <i class="fas fa-search"></i>
        </div>
        <div class="box2">
            <img src="../static/images/angry_clouds.svg" />
<!--            <img th:src="@{'/images/' + ${image} + '.svg'}">-->

            <h2>Katowice</h2>
            <h2>1 	&deg; C</h2>
            <h2>overcast clouds</h2>
        </div>

        <div class="box3">
            <div class="block">
                <h2>Max temp</h2>
            </div>
            <div class="block">
                <h2>Min temp</h2>
            </div>
            <div class="block">
                <h2>Wschód</h2>
            </div>
            <div class="block">
                <h2>Zachód </h2>
            </div>
            <div class="block">
                <h2>Ciśnienie</h2>
            </div>
            <div class="block">
                <h2>wiater</h2>
            </div>
        </div>
    </div>
</body>
</html>