 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body, html{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: #3B3E4A;
    color: #edf0f1;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    width: 30%;
    margin: auto;



    
}

.box1 {
    margin-top: 50px;
    border: 1px solid gold; /* Odległość od góry kontenera */
}

.box2 {
    margin-top: 20px; /* Odległość między box2 a box3 */
    text-align: center;
    position: relative;
    border: 1px solid black;
     /* Włączamy relatywne pozycjonowanie dla box2 */
}
.box2 h2{
    z-index: 2;
}
.box2 img {
    display: block; /* Żeby zdjęcie znajdowało się pod tekstem */
    margin: auto; /* Wyśrodkowanie zdjęcia */
    position: absolute; /* Ustawiamy absolutne pozycjonowanie dla obrazka */
    top: 0; /* Ustawiamy na samej górze box2 */
    left: 0; /* Ustawiamy na lewej krawędzi box2 */
    right: 0; /* Ustawiamy na prawej krawędzi box2 */
    bottom: 0; /* Ustawiamy na dolnej krawędzi box2 */
    z-index: 1; /* Ustawiamy niższy indeks warstwy, aby obrazek był pod tekstem */
}

.box2 h2 {
    position: relative; /* Ustawiamy relatywne pozycjonowanie dla tekstu */
}

.box3 {
    width: 100%; /* Szerokość całego kontenera */
    display: flex;
    flex-wrap: wrap; /* Umożliwia zawijanie elementów na kolejnych wierszach */
    justify-content: space-between;
    border: 1px solid blue; /* Rozmieszczenie bloków równomiernie wzdłuż osi poziomej */
}

.box3 .block {
    width: 48%; /* Szerokość bloku, aby zmieścić 2 bloki w rzędzie */
    margin-bottom: 20px;
    border: 1px solid green; /* Odległość między blokami */
}
.box{
    position: relative;
}

.input {
    padding: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: 3px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
   
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 150px;

    border-radius: 10px;
}
.box i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}